<a href="https://colab.research.google.com/github/mrfabien/MLEE_project/blob/main/Code_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [2]:
pd.__version__
#%pip install pandas==1.4.1

'1.4.1'

In [3]:
path_75 = '/content/df_europewinds_75.pkl'
path_95 = '/content/df_europewinds_95.pkl'

In [6]:
data_75 = pd.read_pickle(open(path_75, 'rb'))
data_75.head()

,year,index,bss0_1_mean,bss0_1_std,bss0_6_mean,bss0_6_std,rh1000_850_mean,rh1000_850_std,rh700_500_mean,rh700_500_std,...,lapse_s1_mean,lapse_s1_std,lapse700_500_mean,lapse700_500_std,total_totals_mean,total_totals_std,kindex_mean,kindex_std,cape_mean,cape_std
0,0,0,5.566746,1.409852,20.841965,2.403776,38.471111,5.528201,39.340164,4.507432,...,3.937160,1.835161,7.434533,0.157927,-223.870316,2.545162,-241.414597,1.920714,1.470943e+06,47421.042969
1,0,1,9.117043,2.212430,15.022616,1.769653,91.150574,4.519768,95.393280,3.446400,...,6.827473,0.361492,4.986881,0.123315,-230.567856,1.326195,-256.065704,2.432208,7.463997e+05,29720.560547
2,0,1,3.349157,1.543636,14.397669,1.997612,94.999939,3.762975,96.936325,2.179418,...,7.025648,0.705598,5.416773,0.279987,-229.407089,0.455871,-254.261292,0.960245,7.808471e+05,32203.679688
3,0,1,3.522637,1.343964,6.980061,1.558338,86.109894,6.356337,87.546326,8.126277,...,6.696632,0.315548,6.247573,0.096321,-225.117264,0.556208,-242.131607,0.737710,3.299286e+05,44017.738281
4,0,1,2.906259,1.306351,18.640661,0.778727,76.630363,11.766706,75.178864,5.603858,...,5.132456,0.965875,6.791603,0.163507,-221.258957,0.740583,-236.590332,0.754513,8.468746e+05,69275.562500

In [7]:
data_95 = pd.read_pickle(open(path_95, 'rb'))
data_95.head()

,year,index,bss0_1_mean,bss0_1_std,bss0_6_mean,bss0_6_std,rh1000_850_mean,rh1000_850_std,rh700_500_mean,rh700_500_std,...,lapse_s1_mean,lapse_s1_std,lapse700_500_mean,lapse700_500_std,total_totals_mean,total_totals_std,kindex_mean,kindex_std,cape_mean,cape_std
0,0,0,4.277383,1.872966,8.982351,0.724258,93.492226,5.035859,88.534180,5.347477,...,6.906764,1.327869,6.136250,0.066148,-229.698380,2.886750,-253.835098,3.049098,2.026168e+05,14708.218750
1,0,0,1.802277,0.753601,15.204497,0.530935,59.056320,1.762953,41.138809,20.166151,...,7.818282,0.271740,6.264568,0.162757,-229.545853,2.025261,-257.027924,5.805379,1.180107e+06,50493.390625
2,0,0,0.715803,0.243926,16.503664,0.667165,59.690506,3.856417,24.401155,8.628385,...,7.912159,0.212544,6.037870,0.176981,-230.075562,1.594442,-261.277252,2.990737,1.271284e+06,24269.503906
3,0,0,1.606050,1.158768,18.095135,1.584871,29.221788,1.806868,54.221584,3.082348,...,7.784466,0.688592,8.378917,0.154145,-220.908508,0.992791,-244.325333,1.691479,1.316592e+06,54253.433594
4,0,0,0.307757,0.309118,13.387435,1.153533,29.046917,3.302094,55.367680,3.316934,...,6.988350,0.134230,8.529189,0.123378,-221.513565,0.656967,-246.688919,0.659492,1.148537e+06,25503.769531

In [11]:
data_75['intensity']=0
data_95['intensity']=1